<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <application android:theme="@style/Theme.IconPackDumper" android:label="iconpackdumper" android:allowBackup="false">
  <activity android:name=".MainActivity" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
 <queries>
  <intent><action android:name="com.novalauncher.THEME" /></intent>
  <intent><action android:name="app.lawnchair.icons.THEMED_ICON" /></intent>
  <intent><action android:name="ch.deletescape.lawnchair.ICONPACK" /></intent>
  <intent><action android:name="org.adw.launcher.THEMES" /></intent>
  <intent><action android:name="com.anddoes.launcher.THEME" /></intent>
  <intent><action android:name="com.gau.go.launcherex.theme" /></intent>
  <intent><action android:name="ginlemon.smartlauncher.THEMES" /></intent>
  <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent>
 </queries>
</manifest>
